.main{
    .ModifyFileModal{

    }
    .Modifytable{
        .tip{
            position: relative;
            p{
                font-size: 14px;
            }
            span{
                font-size: 14px;
                position: absolute;
                right: 0;
            }
        }
    }
}